.hidden {
    display: none;
}

@keyframes vituiks_meni {
    0% {width: 0%;}
    0% {font-size: 0%;}
    50% {width: 100%;}
    50% {font-size: 30px;}
    100% {width: 0%;}
    100% {font-size: 0%;}
}

@keyframes vituiks_meni_v2 {
    0% {transform: rotate(360deg);}
}

@keyframes vituiks_meni_v3 {
    0% {color: red;}
    20% {color: blue;}
    40% {color: green;}
    60% {color: yellow;}
    80% {color: pink;}
    100% {color: purple;}   
    0% {background-color: purple;}
    20% {background-color: pink;}
    40% {background-color: yellow;}
    60% {background-color: green;}
    80% {background-color: blue;}
    100% {background-color: red;}   
}

@keyframes vituiks_meni_v4 {
    0% {transform: rotate(45deg);}  
    50% {transform: rotate(-45deg);}
    100% {transform: rotate(45deg);}   
}

@keyframes vituiks_meni_v5 {
    0% {background-color: #86592d;}
    20% {background-color: green;}
    40% {background-color: #bf8040;}
    60% {background-color: blue;}
    80% {background-color: #604020;}
    100% {background-color: red;}
}

.perseilyn_puolelle {
    animation-name: vituiks_meni !important;
    animation-duration: 1s !important;
    animation-iteration-count: infinite !important;
}

.you_spin_me_right_round_baby {
    animation-name: vituiks_meni_v2 !important;
    animation-duration: 2s !important;
    animation-iteration-count: infinite !important;
    animation-timing-function: linear !important;
}

.pilvessa {
    animation-name: vituiks_meni_v3 !important;
    animation-duration: 1s !important;
    animation-iteration-count: infinite !important;
}

.pumpum {
    animation-name: vituiks_meni_v4 !important;
    animation-duration: 2s !important;
    animation-iteration-count: infinite !important;
}

.elriisitas {
    animation-name: vituiks_meni_v4 !important;
    animation-duration: 2.5s !important;
    animation-iteration-count: infinite !important;
}

.ripulipaskaa {
    animation-name: vituiks_meni_v5 !important;
    animation-duration: 1s !important;
    animation-iteration-count: infinite !important;
}