.modal-header {
    background-color: #ffffff;;
    color: #000000;
    border-radius: 0px;
}

.modal-content {
    border: solid 3px;
    background-color: #000000;
    border-color: #ffffff;
    color: #ffffff;
}

.modal-body form {
    border: solid 1.5px !important;
    border-color: #ffffff !important;
    background-color: #A9A9A9 !important;
    color: #000000;
}

.modal a {
    color: #ff0000 !important;
}

.modal a:hover {
    color: #ff0000 !important;
}

.modal .btn {
    color: #000000 !important;
}

.modal .btn:hover {
    color: #000000 !important;
    outline: none !important;
    box-shadow: none !important;
}