/* site base colors */
.sitered{
    color:rgb(255, 0, 0)
  }


.sitedarkgrey{
    color:rgb(128, 128, 128)
}

.sitelightgrey{
    color:#e6e6e6
}
.sitegreen{
    color:	rgb(0, 204, 0)
}
.siteblue{
    color:rgb(0, 0, 204)
}
.siteyellow{
    color:#e6e600
}

.container-fluid {
    padding-top: 4.9rem;
}

html, body { 
    height:100%; 
    margin:0; 
}

body{ 
  display:flex; 
  flex-direction:column;
  background-image: url('/img/background.png');
  background-color: #ffffff;
  background-repeat: repeat;
  background-position: left top;
}


footer {
    margin-top:auto; 
    background: linear-gradient(to bottom, #A9A9A9 0%, #000000 20%, #000000 100%);
}

nav {
    background: linear-gradient(to right, #000000 0%, #A9A9A9 40%, #A9A9A9 60%, #000000 100%);
}

nav .searchbar {
    width: 400px !important;
}

nav button, .card button{
    background-color: #000000 !important;
    border-width: 3px !important;
    border-color: #ffffff !important;
    outline: none !important;
    box-shadow: none !important;
}

nav button:hover, .card button:hover {
    background-color: #ff0000 !important;
    color: #ffffff !important;
}

nav .dropdown-menu a {
    color: #000000 !important;
}

nav .dropdown-item:hover {
    background-color: #000000 !important;
    color: #ffffff !important;
}

nav a:hover {
    color: #ff0000 !important;
}

h2 a{
    color: #ff0000;
}

h2 a:hover {
    color: #ff0000;
}

.card {
    color: #ffffff !important;
    border-radius: 1rem;
    background: linear-gradient(180deg,  #A9A9A9, #000000);
}

@keyframes cardhover {
    0% {}
    50% {transform: scale(5);}
    100% {}
}

.card a, .card a:hover {
    color: #ffffff;
    text-decoration: none;
}

.card:hover h5, .card:hover .font-weight-bold {
    color: gold;
}

.card .imgframe {
    background-color: #ffffff; 
    margin: 0.5rem; 
    border-radius: 0.5rem; 
    height:14rem;
    position: relative;
}

.card img {
    padding: 0.5rem;
    max-width: 14rem; 
    max-height: 14rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.carousel .carousel-item img{
    height: 160px !important;
    min-width: auto !important;
    float: left;
    border-radius: 1rem;
}

.topleft {
    display: none;
    color: gold;
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    animation: cardhover 0.5s infinite;
}

.saletag {
    color: #ffffff;
    position: absolute;
    top: 13rem;
    left: 0.5rem;
    background-color: #ff0000;
    border-radius: 1rem;
    padding: 0.5rem;
}

.outofstocktag {
    color: #ffffff;
    position: absolute;
    top: 0rem;
    right: 0rem;
    background-color: #000000;
    border-radius: 1rem;
    padding: 0.5rem;
}

.newtag {
    color: #000000;
    position: absolute;
    top: 13rem;
    right: 0.5rem;
    background-color: greenyellow;
    border-radius: 1rem;
    padding: 0.5rem;
}

.ad {
    background-color: gold;
    border-radius: 1rem;
}

.frontpageheader {
    background-color: #000000 !important;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.productsheader {
    color: #ffffff;
    background-color: #000000 !important;
    border-radius: 1rem;
    padding-bottom: 3px;
    padding-left: 10%;
    padding-right: 10%;
    display: inline-block;
}

@keyframes haa {
    0% {transform: translateY(1200px);}
}

@keyframes ahistelu {
    0% {}
    100% {transform: scale(3) translateY(600px) translateX(27.5%);}
}

.gragas {
    display: none;
    position: absolute;
    left: -30%;
    width: 200%;
    top: -5rem;
    z-index: 1100;
    animation: haa 0.5s 1;
}

.gragashand {
    display: none;
    position: absolute;
    left: -30%;
    width: 200%;
    top: -5rem;
    z-index: 1100;
    animation: haa 0.5s 1, ahistelu 10s 1s 1;
}

.tahdet {
    padding: 0;
    border: none;
    background: none;
    outline: none !important;
}

.checked {
    color: gold;
}

.selected {
    color: gold;
}

.review span {
    background-color: #000000;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 3px;
    color: #ffffff;
}

.review i {
    color: gold;
}

.review {
    border: solid 1.5px #000000;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #A9A9A9;
}

.rating {
    border: solid 1.5px #000000;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #A9A9A9;
}

.productview {
    color:#ffffff;
    border: solid 1.5px #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #000000;
}

.product figure { 
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
}

.product figcaption {
    background-color: #000000;
    color: gold;
}